.controller {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  .filter-button {
    padding: 8px 20px;
    cursor: pointer;
  }
}

.gallery-items {
  display: table;
  content: " ";
  width: 100%;
  .gallery-item {
    width: 33.33333333%;
    float: left;
    display: block;
    transition: 0.4s ease-in;
    opacity: 1;
    &.w-0 {
      width: 0;
      opacity: 0;
    }
    img {
      display: block;
      width: calc(100% - 40px);
      margin: 20px;
    }
  }
}
